body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, #ff9a9e, #ce4865); 
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#profile-image {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

#profile-image img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid #42A5F5; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    animation: movePhoto 5s infinite linear;
}

@keyframes movePhoto {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); 
    }
    100% {
        transform: translateX(0);
    }
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #e5b9c4; 
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


h2 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.6;
    color: #555;
}